{
  "check-coverage": true,
	"include":      [
		"**/*.ts"
  ],
	"exclude":      [
		"config/",
		"test/"
  ],
	"extension":    [
    ".ts"
  ],
	"register":     [
    "ts-node/register"
  ],
	"all":          true,
	"lines":        99.7,
	"statements":   0,
	"functions":    100,
	"branches":     95,
	"cache":        false,
	"instrument":   true,
	"sourceMap":    true
}